@import "tailwindcss";

@theme {
  --color-primary: #365c12;
  --color-primary-dark: #00311e;
  --color-primary-light: #D3E1C4;
  --color-background: #f9fafb;
  --color-foreground: #111827;
}

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9fafb;
    /* Force light mode background */
    --foreground: #111827;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom animations */
@keyframes pulse-scale {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

.animate-pulse-scale {
  animation: pulse-scale 1.5s ease-in-out infinite;
}

.fade-out-bottom {
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}